[Unit]
Description=Loads up a github repo on boot and launches the main.py file.
After=network.target

[Service]
ExecStart=/home/Boot2Repo/GetRepo.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target

